body {
	font-family: 'Inter';
}

.cardGroup {
	width: 100%;
	margin: 25px;
}

.Card {
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background-color: rgb(185, 208, 233);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 400ms ease;
}

.Card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
}

.Card h5 {
	text-align: center;
	padding: 10px;
}

.Card img {
	width: 100%;
	height: 210px;
}