body{
	font-family: 'Inter';
	color: white;
	/*background-color: black;*/
}
.container{
	width: 100%;
	display: flex;
	max-width: 1100px;
}
.left{
	float: left;
	/*background-color: yellow;*/
	width: 16%;
	padding: 2%;
}
.center{
	float: left;
	/*background-color: aqua;*/
	width: 16%;
	padding: 2%;
}
.right{
	float: left;
	/*background-color: green;*/
	width: 56%;
	padding: 2%;
}
.Card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background-color: rgb(69, 69, 137);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;


}
.Card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.left h4{
	text-align: center;
}
.left h1{
	text-align: center;
	padding: 1px;
	font-size: 300%;
}

.Card h5{
	text-align: center;
}
.center p{
	text-align: center;
}
.center h5{
	font-size: 120%;
}

.Card .contenido{
	padding: 10px
}

.name{
	font-size: 15px;
	padding:5px;
	display: flex;
	height: 15px;
    align-items: center;
    float:left;
    margin: 5px;
}
.tags{
	float: left;
}
.tag{
	background-color: orange;
	padding:5px;
	display: flex;
	height: 15px;
	border-radius: 8px;
    align-items: center;
    float:left;
    color: white;
    margin: 5px;
}
.tag:hover{
	background-color: green;
	color: white;
}